# Ejercicio 51

Obtener las primeras `n` filas de un objeto `DataFrame`.

## Solución:

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
nombre = ['Oliva', 'Daniela', 'Juan', 'Germán', 'Edward', 'Alex', 'Julio', 
          'Edgar', 'Angie', 'Irlesa']
puntaje = [11.5, 8, 15.5, np.nan, 8, 19, 13.5, np.nan, 8, 18]
intentos = [1, 3, 2, 3, 2, 3, 1, 1, 2, 1]
califico = ['Sí', 'No', 'Sí', 'No', 'No', 'Sí', 'Sí', 'No', 'No', 'Sí']

indices = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

jugadores = {'nombre': nombre, 'puntaje': puntaje, 'intentos': intentos, 
             'califico': califico}

df = pd.DataFrame(data=jugadores, index=indices)

df

In [ ]:
df.iloc[:3]

In [ ]:
df.iloc[0:3]

# Ejercicio 52

Obtener las últimas `n` filas de un objeto `DataFrame`.

## Solución:

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
nombre = ['Oliva', 'Daniela', 'Juan', 'Germán', 'Edward', 'Alex', 'Julio', 
          'Edgar', 'Angie', 'Irlesa']
puntaje = [11.5, 8, 15.5, np.nan, 8, 19, 13.5, np.nan, 8, 18]
intentos = [1, 3, 2, 3, 2, 3, 1, 1, 2, 1]
califico = ['Sí', 'No', 'Sí', 'No', 'No', 'Sí', 'Sí', 'No', 'No', 'Sí']

indices = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

jugadores = {'nombre': nombre, 'puntaje': puntaje, 'intentos': intentos, 
             'califico': califico}

df = pd.DataFrame(data=jugadores, index=indices)

df

In [ ]:
df.iloc[-5:]

# Ejercicio 53

Obtener la representación en **NumPy** de un objeto `DataFrame`.

## Solución:

In [ ]:
import pandas as pd

In [ ]:
datos = {'X': [1, 2, 3, 4, 5], 'Y': [5, 4, 3, 2, 1], 'Z': [2, 3, 5, 7, 11]}

df = pd.DataFrame(data=datos)

df

In [ ]:
df.to_numpy()

# Ejercicio 54

Seleccionar columnas de un objeto `DataFrame` usando notación de slicing.

## Solución:

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
nombre = ['Oliva', 'Daniela', 'Juan', 'Germán', 'Edward', 'Alex', 'Julio', 
          'Edgar', 'Angie', 'Irlesa']
puntaje = [11.5, 8, 15.5, np.nan, 8, 19, 13.5, np.nan, 8, 18]
intentos = [1, 3, 2, 3, 2, 3, 1, 1, 2, 1]
califico = ['Sí', 'No', 'Sí', 'No', 'No', 'Sí', 'Sí', 'No', 'No', 'Sí']

indices = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

jugadores = {'nombre': nombre, 'puntaje': puntaje, 'intentos': intentos, 
             'califico': califico}

df = pd.DataFrame(data=jugadores, index=indices)

df

In [ ]:
df[['nombre', 'califico']]

# Ejercicio 55

Obtener los ejes (atributos de filas y columnas) de un `DataFrame`.

## Solución:

In [ ]:
import pandas as pd

In [ ]:
datos = {'X': [1, 2, 3, 4, 5], 'Y': [5, 4, 3, 2, 1], 'Z': [2, 3, 5, 7, 11]}

df = pd.DataFrame(data=datos)

df

In [ ]:
df.axes

In [ ]:
indices = ['a', 'b', 'c', 'd', 'e']

df = pd.DataFrame(data=datos, index=indices)

df

In [ ]:
df.axes

# Ejercicio 56

Seleccionar filas y columnas específicas de un `DataFrame` con `iloc`.

## Solución:

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
nombre = ['Oliva', 'Daniela', 'Juan', 'Germán', 'Edward', 'Alex', 'Julio', 
          'Edgar', 'Angie', 'Irlesa']
puntaje = [11.5, 8, 15.5, np.nan, 8, 19, 13.5, np.nan, 8, 18]
intentos = [1, 3, 2, 3, 2, 3, 1, 1, 2, 1]
califico = ['Sí', 'No', 'Sí', 'No', 'No', 'Sí', 'Sí', 'No', 'No', 'Sí']

indices = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

jugadores = {'nombre': nombre, 'puntaje': puntaje, 'intentos': intentos, 
             'califico': califico}

df = pd.DataFrame(data=jugadores, index=indices)

df

In [ ]:
df.iloc[[1, 4], [0, 3]]

In [ ]:
type(df.iloc[[1, 4], [0, 3]])

# Ejercicio 57

Obtener la dimensión, el tamaño, y la forma de un objeto `DataFrame`.

## Solución:

In [ ]:
import pandas as pd

In [ ]:
datos = {'X': [1, 2, 3, 4, 5], 'Y': [5, 4, 3, 2, 1], 'Z': [2, 3, 5, 7, 11]}

df = pd.DataFrame(data=datos)

df

In [ ]:
df.ndim

In [ ]:
df.size

In [ ]:
df.shape

# Ejercicio 58

Obtener la cantidad de memoria ocupada por cada columna en un `DataFrame`.

## Solución:

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
nombre = ['Oliva', 'Daniela', 'Juan', 'Germán', 'Edward', 'Alex', 'Julio', 
          'Edgar', 'Angie', 'Irlesa']
puntaje = [11.5, 8, 15.5, np.nan, 8, 19, 13.5, np.nan, 8, 18]
intentos = [1, 3, 2, 3, 2, 3, 1, 1, 2, 1]
califico = [True, False, True, False, False, True, True, False, False, True]

indices = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

jugadores = {'nombre': nombre, 'puntaje': puntaje, 'intentos': intentos, 
             'califico': califico}

df = pd.DataFrame(data=jugadores, index=indices)

df

In [ ]:
df.memory_usage()

# Ejercicio 59

Seleccionar filas y columnas a partir de sus nombres con `ix` y `loc`.

## Solución:

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
nombre = ['Oliva', 'Daniela', 'Juan', 'Germán', 'Edward', 'Alex', 'Julio', 
          'Edgar', 'Angie', 'Irlesa']
puntaje = [11.5, 8, 15.5, np.nan, 8, 19, 13.5, np.nan, 8, 18]
intentos = [1, 3, 2, 3, 2, 3, 1, 1, 2, 1]
califico = ['Sí', 'No', 'Sí', 'No', 'No', 'Sí', 'Sí', 'No', 'No', 'Sí']

indices = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

jugadores = {'nombre': nombre, 'puntaje': puntaje, 'intentos': intentos, 
             'califico': califico}

df = pd.DataFrame(data=jugadores, index=indices)

df

In [ ]:
df.ix[['a', 'i'], ['nombre', 'califico']]

In [ ]:
df.loc[['a', 'i'], ['nombre', 'califico']]

# Ejercicio 60

Comprobar si un objeto `DataFrame` está vacío con `empty`.

## Solución:

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame({'X': []})

df

In [ ]:
df.size

In [ ]:
df.empty

In [ ]:
import numpy as np

df = pd.DataFrame({'X': [np.nan]})

df

In [ ]:
df.size

In [ ]:
df.empty

# Ejercicio 61

Seleccionar los registros que tienen un campo nulo (nan).

## Solución:

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
nombre = ['Oliva', 'Daniela', 'Juan', 'Germán', 'Edward', 'Alex', 'Julio', 
          'Edgar', 'Angie', 'Irlesa']
puntaje = [11.5, 8, 15.5, np.nan, 8, 19, 13.5, np.nan, 8, 18]
intentos = [1, 3, 2, 3, 2, 3, 1, 1, 2, 1]
califico = ['Sí', 'No', 'Sí', 'No', 'No', 'Sí', 'Sí', 'No', 'No', 'Sí']

indices = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

jugadores = {'nombre': nombre, 'puntaje': puntaje, 'intentos': intentos, 
             'califico': califico}

df = pd.DataFrame(data=jugadores, index=indices)

df

In [ ]:
df[df['puntaje'].isnull()]

# Ejercicio 62

Crear un objeto `DataFrame` a partir de objetos `Series`.

## Solución:

In [ ]:
import pandas as pd

In [ ]:
nombres = pd.Series(['Edward', 'Germán', 'Daniela'])
edades = pd.Series([27, 23, 19])

personas = {'nombre': nombres, 'edad': edades}

df = pd.DataFrame(data=personas)

df

# Ejercicio 63

Cambiar el tipo de dato de una o más columnas con `astype`.

## Solución:

In [ ]:
import pandas as pd

In [ ]:
datos = {'X': [2, 3], 'Y': [5, 7]}

df = pd.DataFrame(data=datos)

df

In [ ]:
df.info()

In [ ]:
df.dtypes

In [ ]:
df.astype({'X': 'int32'}).dtypes

In [ ]:
df.astype({'X': 'int32', 'Y': 'float64'}).dtypes

# Ejercicio 64

Seleccionar registros donde los valores de una columna estén en un rango.

## Solución:

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
nombre = ['Oliva', 'Daniela', 'Juan', 'Germán', 'Edward', 'Alex', 'Julio', 
          'Edgar', 'Angie', 'Irlesa']
puntaje = [11.5, 8, 15.5, np.nan, 8, 19, 13.5, np.nan, 8, 18]
intentos = [1, 3, 2, 3, 2, 3, 1, 1, 2, 1]
califico = ['Sí', 'No', 'Sí', 'No', 'No', 'Sí', 'Sí', 'No', 'No', 'Sí']

indices = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

jugadores = {'nombre': nombre, 'puntaje': puntaje, 'intentos': intentos, 
             'califico': califico}

df = pd.DataFrame(data=jugadores, index=indices)

df

In [ ]:
df[df['puntaje'].between(13, 19)]

# Ejercicio 65

Determinar los datos en un `DataFrame` que son nulos (NaN).

## Solución:

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
nombres = ['Edward', 'Daniela', 'Germán']
edades = [5, 6, np.nan]
fecha_nacimiento = [pd.Timestamp('1990-01-03'), None, np.nan]

personas = {'nombre': nombres, 'edad': edades, 'fecha_nacimiento': fecha_nacimiento}

df = pd.DataFrame(data=personas)

df

In [ ]:
df.isna()

# Ejercicio 66

Encontrar los datos en un `DataFrame` que **no** son nulos (NaN).

## Solución:

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
nombres = ['Edward', 'Daniela', 'Germán']
edades = [5, 6, np.nan]
fecha_nacimiento = [pd.Timestamp('1990-01-03'), None, np.nan]

personas = {'nombre': nombres, 'edad': edades, 'fecha_nacimiento': fecha_nacimiento}

df = pd.DataFrame(data=personas)

df

In [ ]:
df.notna()

# Ejercicio 67

Acceder un valor o entrada específico de un objeto `DataFrame` usando `at`.

## Solución:

In [ ]:
import pandas as pd

In [ ]:
datos = {'X': [1, 2, 3, 4, 5], 'Y': [5, 4, 3, 2, 1], 'Z': [2, 3, 5, 7, 11]}

indices = ['a', 'b', 'c', 'd', 'e']

df = pd.DataFrame(data=datos, index=indices)

df

In [ ]:
df.at['b', 'Y']

In [ ]:
df.at['e', 'Z']

# Ejercicio 68

Modificar un valor o entrada específico de un objeto `DataFrame` usando `at`.

## Solución:

In [ ]:
import pandas as pd

In [ ]:
datos = {'X': [1, 2, 3, 4, 5], 'Y': [5, 4, 3, 2, 1], 'Z': [2, 3, 5, 7, 11]}

indices = ['a', 'b', 'c', 'd', 'e']

df = pd.DataFrame(data=datos, index=indices)

df

In [ ]:
df.at['b', 'Y'] = 29

df

In [ ]:
df.at['e', 'Z'] = 33

df

# Ejercicio 69

Modificar un valor o entrada específico de un objeto `DataFrame` usando `loc`.

## Solución:

In [ ]:
import pandas as pd

In [ ]:
datos = {'X': [1, 2, 3, 4, 5], 'Y': [5, 4, 3, 2, 1], 'Z': [2, 3, 5, 7, 11]}

indices = ['a', 'b', 'c', 'd', 'e']

df = pd.DataFrame(data=datos, index=indices)

df

In [ ]:
df.loc['a', 'Z'] = 12

df

# Ejercicio 70

Acceder a un valor o entrada específico de un objeto `DataFrame` usando `loc`.

## Solución:

In [ ]:
import pandas as pd

In [ ]:
datos = {'X': [1, 2, 3, 4, 5], 'Y': [5, 4, 3, 2, 1], 'Z': [2, 3, 5, 7, 11]}

indices = ['a', 'b', 'c', 'd', 'e']

df = pd.DataFrame(data=datos, index=indices)

df

In [ ]:
df.loc['a', 'Z']

In [ ]:
df.loc['d', 'Z']

# Ejercicio 71

Sumar los valores de una columna de un `DataFrame` con `sum`.

## Solución:

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
nombre = ['Oliva', 'Daniela', 'Juan', 'Germán', 'Edward', 'Alex', 'Julio', 
          'Edgar', 'Angie', 'Irlesa']
puntaje = [11.5, 8, 15.5, np.nan, 8, 19, 13.5, np.nan, 8, 18]
intentos = [1, 3, 2, 3, 2, 3, 1, 1, 2, 1]
califico = ['Sí', 'No', 'Sí', 'No', 'No', 'Sí', 'Sí', 'No', 'No', 'Sí']

indices = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

jugadores = {'nombre': nombre, 'puntaje': puntaje, 'intentos': intentos, 
             'califico': califico}

df = pd.DataFrame(data=jugadores, index=indices)

df

In [ ]:
df['intentos'].sum()

# Ejercicio 72

Acceder a una entrada de un `DataFrame` utilizando índices numéricos con `iat`.

## Solución

In [ ]:
import pandas as pd

In [ ]:
datos = {'X': [1, 2, 3, 4, 5], 'Y': [5, 4, 3, 2, 1], 'Z': [2, 3, 5, 7, 11]}

indices = ['a', 'b', 'c', 'd', 'e']

df = pd.DataFrame(data=datos, index=indices)

df

In [ ]:
df.iat[0, 2]

In [ ]:
df.iat[4, 0]

In [ ]:
df.iat[-1, 0]

In [ ]:
df.iat[-1, -1]

# Ejercicio 73

Calcular el promedio de los valores de una columna de un `DataFrame`.

## Solución:

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
nombre = ['Oliva', 'Daniela', 'Juan', 'Germán', 'Edward', 'Alex', 'Julio', 
          'Edgar', 'Angie', 'Irlesa']
puntaje = [11.5, 8, 15.5, np.nan, 8, 19, 13.5, np.nan, 8, 18]
intentos = [1, 3, 2, 3, 2, 3, 1, 1, 2, 1]
califico = ['Sí', 'No', 'Sí', 'No', 'No', 'Sí', 'Sí', 'No', 'No', 'Sí']

indices = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

jugadores = {'nombre': nombre, 'puntaje': puntaje, 'intentos': intentos, 
             'califico': califico}

df = pd.DataFrame(data=jugadores, index=indices)

df

In [ ]:
df['puntaje'].mean()

# Ejercicio 74

Insertar una nueva columna en una posición arbitraria con la función insert.

## Solución:

In [ ]:
import pandas as pd

In [ ]:
datos = {'W': [1, 2, 3, 4, 5], 'Y': [5, 4, 3, 2, 1], 'Z': [2, 3, 5, 7, 11]}

indices = ['a', 'b', 'c', 'd', 'e']

df = pd.DataFrame(data=datos, index=indices)

In [ ]:
df.insert(1, 'X', 0)

df

In [ ]:
df['X'] = [9, 5, 1, 7, 3]

df

# Ejercicio 75

 Agregar una nueva fila a un objeto `DataFrame` por medio de `loc`.

## Solución:

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
nombre = ['Oliva', 'Daniela', 'Juan', 'Germán', 'Edward', 'Alex', 'Julio', 
          'Edgar', 'Angie', 'Irlesa']
puntaje = [11.5, 8, 15.5, np.nan, 8, 19, 13.5, np.nan, 8, 18]
intentos = [1, 3, 2, 3, 2, 3, 1, 1, 2, 1]
califico = ['Sí', 'No', 'Sí', 'No', 'No', 'Sí', 'Sí', 'No', 'No', 'Sí']

indices = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

jugadores = {'nombre': nombre, 'puntaje': puntaje, 'intentos': intentos, 
             'califico': califico}

df = pd.DataFrame(data=jugadores, index=indices)

df

In [ ]:
df.loc['k'] = ['Sebastián', 17.9, 2, 'Sí']

df

# Ejercicio 76:

Recorrer cada una de las columnas de un objeto `DataFrame` con items.

## Solución:

In [ ]:
import pandas as pd

In [ ]:
datos = {'X': [1, 2, 3, 4, 5], 'Y': [5, 4, 3, 2, 1], 'Z': [2, 3, 5, 7, 11]}

indices = ['a', 'b', 'c', 'd', 'e']

df = pd.DataFrame(data=datos, index=indices)

df

In [ ]:
for etiqueta, contenido in df.items():
    print('Nombre columna:', etiqueta)
    print('Contenido:', contenido, sep='\n')

# Ejercicio 77

Eliminar una fila de un `DataFrame` con la función `drop`.

## Solución:

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
nombre = ['Oliva', 'Daniela', 'Juan', 'Germán', 'Edward', 'Alex', 'Julio', 
          'Edgar', 'Angie', 'Irlesa']
puntaje = [11.5, 8, 15.5, np.nan, 8, 19, 13.5, np.nan, 8, 18]
intentos = [1, 3, 2, 3, 2, 3, 1, 1, 2, 1]
califico = ['Sí', 'No', 'Sí', 'No', 'No', 'Sí', 'Sí', 'No', 'No', 'Sí']

indices = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

jugadores = {'nombre': nombre, 'puntaje': puntaje, 'intentos': intentos, 
             'califico': califico}

df = pd.DataFrame(data=jugadores, index=indices)

df

In [ ]:
df.drop('h')

# Ejercicio 78

Ordenar en modo descendente un `DataFrame` por diferentes columnas.

## Solución:

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
nombre = ['Oliva', 'Daniela', 'Juan', 'Germán', 'Edward', 'Alex', 'Julio', 
          'Edgar', 'Angie', 'Irlesa']
puntaje = [11.5, 8, 15.5, np.nan, 8, 19, 13.5, np.nan, 8, 18]
intentos = [1, 3, 2, 3, 2, 3, 1, 1, 2, 1]
califico = ['Sí', 'No', 'Sí', 'No', 'No', 'Sí', 'Sí', 'No', 'No', 'Sí']

indices = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

jugadores = {'nombre': nombre, 'puntaje': puntaje, 'intentos': intentos, 
             'califico': califico}

df = pd.DataFrame(data=jugadores, index=indices)

df

In [ ]:
df.sort_values(by=['nombre', 'puntaje'], ascending=[False, True])

# Ejercicio 79

Iterar con la función `itertuples` un `DataFrame` por filas a modo de tuplas nombradas.

## Solución:

In [ ]:
import pandas as pd

In [ ]:
datos = {'X': [1, 2, 3, 4, 5], 'Y': [5, 4, 3, 2, 1], 'Z': [2, 3, 5, 7, 11]}

indices = ['a', 'b', 'c', 'd', 'e']

df = pd.DataFrame(data=datos, index=indices)

df

In [ ]:
for registro in df.itertuples():
    print(registro)

In [ ]:
for registro in df.itertuples():
    print(registro.X, registro.Z, registro.Y * registro.X)

# Ejercicio 80

Reemplazar valores de una columna con la función `map` de un `DataFrame`.

## Solución:

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
nombre = ['Oliva', 'Daniela', 'Juan', 'Germán', 'Edward', 'Alex', 'Julio', 
          'Edgar', 'Angie', 'Irlesa']
puntaje = [11.5, 8, 15.5, np.nan, 8, 19, 13.5, np.nan, 8, 18]
intentos = [1, 3, 2, 3, 2, 3, 1, 1, 2, 1]
califico = ['Sí', 'No', 'Sí', 'No', 'No', 'Sí', 'Sí', 'No', 'No', 'Sí']

indices = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

jugadores = {'nombre': nombre, 'puntaje': puntaje, 'intentos': intentos, 
             'califico': califico}

df = pd.DataFrame(data=jugadores, index=indices)

df

In [ ]:
df['califico'] = df['califico'].map({'Sí': True, 'No': False})

df

# Ejercicio 81

Extraer y remover una columna por su nombre a través de la función `pop`.

## Solución:

In [ ]:
import pandas as pd

In [ ]:
datos = {'X': [1, 2, 3, 4, 5], 'Y': [5, 4, 3, 2, 1], 'Z': [2, 3, 5, 7, 11]}

indices = ['a', 'b', 'c', 'd', 'e']

df = pd.DataFrame(data=datos, index=indices)

df

In [ ]:
df.pop('Y')

In [ ]:
df

# Ejercicio 82

Reemplazar valores de una columna por medio de la función `replace`.

## Solución:

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
nombre = ['Oliva', 'Daniela', 'Juan', 'Germán', 'Edward', 'Alex', 'Julio', 
          'Edgar', 'Angie', 'Irlesa']
puntaje = [11.5, 8, 15.5, np.nan, 8, 19, 13.5, np.nan, 8, 18]
intentos = [1, 3, 2, 3, 2, 3, 1, 1, 2, 1]
califico = ['Sí', 'No', 'Sí', 'No', 'No', 'Sí', 'Sí', 'No', 'No', 'Sí']

indices = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

jugadores = {'nombre': nombre, 'puntaje': puntaje, 'intentos': intentos, 
             'califico': califico}

df = pd.DataFrame(data=jugadores, index=indices)

df

In [ ]:
df['nombre'] = df['nombre'].replace('Alex', 'Alexander')

df

# Ejercicio 83

Mostrar los n primeros y últimos registros de un objeto `DataFrame` con `head` y `tail`.

## Solución:

In [ ]:
import pandas as pd

In [ ]:
datos_1 = list(range(1, 101))
datos_2 = list(range(1, 101))

df = pd.DataFrame({'A': datos_1, 'B': datos_2})

df

In [ ]:
df.head()

In [ ]:
df.head(10)

In [ ]:
df.tail()

In [ ]:
df.tail(10)

# Ejercicio 84

Validar con `isin` si un elemento se halla dentro de un `DataFrame`.

## Solución:

In [ ]:
import pandas as pd

In [ ]:
datos = {'X': [1, 2, 3, 4, 5], 'Y': [5, 4, 3, 2, 1], 'Z': [2, 3, 5, 7, 11]}

indices = ['a', 'b', 'c', 'd', 'e']

df = pd.DataFrame(data=datos, index=indices)

df

In [ ]:
df.isin([10, 3])

In [ ]:
df.isin({'Z': [10, 3]})

# Ejercicio 85

Reemplazar valores que no cumplan una condición a través de la función `DataFrame.where`.

## Solución:

In [ ]:
import pandas as pd

In [ ]:
datos = {'X': [1, 2, 3, 4, 5], 'Y': [5, 4, 3, 2, 1], 'Z': [2, 3, 5, 7, 11]}

indices = ['a', 'b', 'c', 'd', 'e']

df = pd.DataFrame(data=datos, index=indices)

df

In [ ]:
df.where(df % 2 == 0, -df)

# Ejercicio 86

Agregar una nueva fila a un `DataFrame` con notación de slicing.

## Solución:

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
nombre = ['Oliva', 'Daniela', 'Juan', 'Germán', 'Edward', 'Alex', 'Julio', 
          'Edgar', 'Angie', 'Irlesa']
puntaje = [11.5, 8, 15.5, np.nan, 8, 19, 13.5, np.nan, 8, 18]
intentos = [1, 3, 2, 3, 2, 3, 1, 1, 2, 1]
califico = ['Sí', 'No', 'Sí', 'No', 'No', 'Sí', 'Sí', 'No', 'No', 'Sí']

indices = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

jugadores = {'nombre': nombre, 'puntaje': puntaje, 'intentos': intentos, 
             'califico': califico}

df = pd.DataFrame(data=jugadores, index=indices)

df

In [ ]:
colores = ['Negro', 'Blanco', 'Azul', 'Verde', 'Rojo', 'Amarillo', 
           'Gris', 'Naranja', 'Lila', 'Café']

df['color'] = colores

df

# Ejercicio 87

Usar la función `mask` para modificar los valores que cumplan una condición.

## Solución:

In [ ]:
import pandas as pd

In [ ]:
datos = {'X': [1, 2, 3, 4, 5], 'Y': [5, 4, 3, 2, 1], 'Z': [2, 3, 5, 7, 11]}

indices = ['a', 'b', 'c', 'd', 'e']

df = pd.DataFrame(data=datos, index=indices)

df

In [ ]:
df.mask(df > 3)

In [ ]:
df.mask(df > 3, 0)

# Ejercicio 88

 Iterar cada una de las filas de un `DataFrame` con la función `iterrows`.
 
 ## Solución:

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
nombre = ['Oliva', 'Daniela', 'Juan', 'Germán', 'Edward', 'Alex', 'Julio', 
          'Edgar', 'Angie', 'Irlesa']
puntaje = [11.5, 8, 15.5, np.nan, 8, 19, 13.5, np.nan, 8, 18]
intentos = [1, 3, 2, 3, 2, 3, 1, 1, 2, 1]
califico = ['Sí', 'No', 'Sí', 'No', 'No', 'Sí', 'Sí', 'No', 'No', 'Sí']

indices = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

jugadores = {'nombre': nombre, 'puntaje': puntaje, 'intentos': intentos, 
             'califico': califico}

df = pd.DataFrame(data=jugadores, index=indices)

df

In [ ]:
for indice, fila in df.iterrows():
    print(fila['nombre'], fila['califico'])

# Ejercicio 89

Realizar consultas sobre los elementos de un objeto `DataFrame` con la función `query`.

## Solución:

In [ ]:
import pandas as pd

In [ ]:
datos = {'X': [1, 2, 3, 4, 5], 'Y': [5, 4, 3, 2, 1], 'Z': [2, 3, 5, 7, 11]}

indices = ['a', 'b', 'c', 'd', 'e']

df = pd.DataFrame(data=datos, index=indices)

df

In [ ]:
df.query('X > Y')

In [ ]:
df[df.X > df.Y]

# Ejercicio 90

Realizar operaciones aritméticas básicas entre dos objetos `DataFrame`.

## Solución:

In [ ]:
import pandas as pd

In [ ]:
datos = {'X': [1, 2, 3, 4, 5], 'Y': [5, 4, 3, 2, 1], 'Z': [2, 3, 5, 7, 11]}

indices = ['a', 'b', 'c', 'd', 'e']

df = pd.DataFrame(data=datos, index=indices)

df

In [ ]:
df.add(df)

In [ ]:
df.sub(df)

In [ ]:
df.mul(df)

In [ ]:
df.div(df)

In [ ]:
datos = {'X': [5, 4, 3, 2, 1], 'Y': [1, 2, 3, 4, 5], 'Z': [2, 3, 5, 7, 11]}

df2 = pd.DataFrame(datos, index=indices)

df2

In [ ]:
df.add(df2)

In [ ]:
df.sub(df2)

In [ ]:
df.mul(df2)

In [ ]:
df.div(df2)

# Ejercicio 91

Obtener como una lista Python los nombres de las columnas de un `DataFrame`.

## Solución:

In [ ]:
import pandas as pd

In [ ]:
datos = {'X': [1, 2, 3, 4, 5], 'Y': [5, 4, 3, 2, 1], 'Z': [2, 3, 5, 7, 11]}

df = pd.DataFrame(datos)

df

In [ ]:
type(df.columns.values)

In [ ]:
list(df.columns.values)

# Ejercicio 92

Calcular el módulo sobre cada elemento de un objeto `DataFrame`.

## Solución:

In [ ]:
import pandas as pd

In [ ]:
datos = {'X': [1, 2, 3, 4, 5], 'Y': [5, 4, 3, 2, 1], 'Z': [2, 3, 5, 7, 11]}

indices = ['a', 'b', 'c', 'd', 'e']

df = pd.DataFrame(data=datos, index=indices)

df

In [ ]:
df.mod(2)

In [ ]:
df.mod(5)

# Ejercicio 93

Renombrar las columnas de un objeto `DataFrame`.

## Solución:

In [ ]:
import pandas as pd

In [ ]:
datos = {'Columna1': [1, 2, 3, 4, 5], 'Columna2': [5, 4, 3, 2, 1], 
         'Columna3': [2, 3, 5, 7, 11]}

indices = ['a', 'b', 'c', 'd', 'e']

df = pd.DataFrame(data=datos, index=indices)

df

In [ ]:
renombrado_columnas = {'Columna1': 'X', 'Columna2': 'Y', 'Columna3': 'Z'}

df.rename(columns=renombrado_columnas)

# Ejercicio 94

Calcular el producto punto entre dos objetos `DataFrame` con la función `dot`.

## Solución:

In [ ]:
import pandas as pd

In [ ]:
datos_1 = [[1, 2, 3, 4, 5], [5, 4, 3, 2, 1], [2, 3, 5, 7, 11]]

datos_2 = [[1, 2, 3], [9, 8, 7], [1, 1, 1], [3, 2, 1], [8, 5, 2]]

df_1 = pd.DataFrame(datos_1)
df_2= pd.DataFrame(datos_2)

In [ ]:
df_1

In [ ]:
df_2

In [ ]:
df_1.dot(df_2)

# Ejercicio 95

Seleccionar registros donde se cumpla una condición para valores de una columna.

## Solución:

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
nombre = ['Oliva', 'Daniela', 'Juan', 'Germán', 'Edward', 'Alex', 'Julio', 
          'Edgar', 'Angie', 'Irlesa']
puntaje = [11.5, 8, 15.5, np.nan, 8, 19, 13.5, np.nan, 8, 18]
intentos = [1, 3, 2, 3, 2, 3, 1, 1, 2, 1]
califico = ['Sí', 'No', 'Sí', 'No', 'No', 'Sí', 'Sí', 'No', 'No', 'Sí']

indices = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

jugadores = {'nombre': nombre, 'puntaje': puntaje, 'intentos': intentos, 
             'califico': califico}

df = pd.DataFrame(data=jugadores, index=indices)

df

In [ ]:
df.loc[df['califico'] == 'Sí']

# Ejercicio 96

Usar operadores relacionales para comparar elementos de objetos `DataFrame`.

## Solución:

In [ ]:
import pandas as pd

In [ ]:
datos_1 = {'X': [1, 2, 3, 4, 5], 'Y': [5, 4, 3, 2, 1], 'Z': [2, 3, 5, 7, 11]}

datos_2 = {'X': [8, 9, 3, 2, 1], 'Y': [9, 2, 0, 1, 1], 'Z': [2, 4, 13, 2, 11]}

df_1 = pd.DataFrame(data=datos_1)
df_2 = pd.DataFrame(data=datos_2)

In [ ]:
df_1

In [ ]:
df_2

In [ ]:
df_1 < df_2

In [ ]:
df_1 > df_2

In [ ]:
df_1 <= df_2

In [ ]:
df_1 >= df_2

In [ ]:
df_1 == df_2

# Ejercicio 97

Usar métodos de instancia de `DataFrame` para comparacionese de igualdad.

## Solución:

In [ ]:
import pandas as pd

In [ ]:
datos_1 = {'X': [1, 2, 3, 4, 5], 'Y': [5, 4, 3, 2, 1], 'Z': [2, 3, 5, 7, 11]}

datos_2 = {'X': [8, 9, 3, 2, 1], 'Y': [9, 2, 0, 1, 1], 'Z': [2, 4, 13, 2, 11]}

df_1 = pd.DataFrame(data=datos_1)
df_2 = pd.DataFrame(data=datos_2)

In [ ]:
df_1

In [ ]:
df_2

In [ ]:
df_1.eq(df_2)

In [ ]:
df_1.ne(df_2)

# Ejercicio 98

Cambiar el orden de dos columnas de un objeto `DataFrame`.

## Solución:

In [ ]:
import pandas as pd

In [ ]:
datos = {'X': [1, 2, 3, 4, 5], 'Y': [5, 4, 3, 2, 1], 'Z': [2, 3, 5, 7, 11]}

indices = ['a', 'b', 'c', 'd', 'e']

df = pd.DataFrame(data=datos, index=indices)

df

In [ ]:
df = df[['X', 'Z', 'Y']]

df

# Ejercicio 99

Combinar dos `DataFrame` y dejar en cada columna el valor mínimo de la suma por columna.

## Solución:

In [ ]:
import pandas as pd

In [ ]:
datos_1 = {'A': [1, 1], 'B': [5, 5]}
datos_2 = {'A': [3, 3], 'B': [2, 2]}

df_1 = pd.DataFrame(data=datos_1)
df_2 = pd.DataFrame(data=datos_2)

In [ ]:
df_1

In [ ]:
df_2

In [ ]:
minimo_columna = lambda s1, s2: s1.sum() if s1.sum() < s2.sum() else s2.sum()

df_1.combine(df_2, minimo_columna)

# Ejercicio 100

Agregar una nueva fila a una `DataFrame` con el método `append`.

## Solución:

In [ ]:
import pandas as pd

In [ ]:
datos = {'X': [1, 2, 3, 4, 5], 'Y': [5, 4, 3, 2, 1], 'Z': [2, 3, 5, 7, 11]}

df = pd.DataFrame(data=datos)

df

In [ ]:
nuevo_registro = {'X': 6, 'Y': 0, 'Z': 13}

df = df.append(nuevo_registro, ignore_index=True)

df

# Ejercicio 101

Aplicar una función a todos los elementos de un `DataFrame` con la función `apply`.

## Solución:

In [ ]:
import pandas as pd

In [ ]:
datos = {'X': [1, 2, 3, 4, 5], 'Y': [5, 4, 3, 2, 1], 'Z': [2, 3, 5, 7, 11]}

df = pd.DataFrame(data=datos)

df

In [ ]:
import numpy as np

df.apply(np.sqrt)

In [ ]:
def cuadrado(x):
    return x * x

df.apply(cuadrado)

In [ ]:
df.apply(np.sum, axis=0)

In [ ]:
df.apply(np.sum, axis=1)

In [ ]:
df.apply(lambda x: x * x)

# Ejercicio 102

Guardar los registros de un `DataFrame` en un archivo de formato **CSV**.

## Solución:

In [1]:
import pandas as pd
import numpy as np

In [2]:
nombre = ['Oliva', 'Daniela', 'Juan', 'Germán', 'Edward', 'Alex', 'Julio', 
          'Edgar', 'Angie', 'Irlesa']
puntaje = [11.5, 8, 15.5, np.nan, 8, 19, 13.5, np.nan, 8, 18]
intentos = [1, 3, 2, 3, 2, 3, 1, 1, 2, 1]
califico = ['Sí', 'No', 'Sí', 'No', 'No', 'Sí', 'Sí', 'No', 'No', 'Sí']

indices = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

jugadores = {'nombre': nombre, 'puntaje': puntaje, 'intentos': intentos, 
             'califico': califico}

df = pd.DataFrame(data=jugadores, index=indices)

df

    nombre  puntaje  intentos califico
a    Oliva     11.5         1       Sí
b  Daniela      8.0         3       No
c     Juan     15.5         2       Sí
d   Germán      NaN         3       No
e   Edward      8.0         2       No
f     Alex     19.0         3       Sí
g    Julio     13.5         1       Sí
h    Edgar      NaN         1       No
i    Angie      8.0         2       No
j   Irlesa     18.0         1       Sí

In [4]:
df.to_csv('jugadores.csv', index=False)